[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "assertHE"]
	path = assertHE
	url = https://github.com/dark-peak-analytics/asserthe
